services:
  nginx:
    image: "nginx"
    build: ./requirements/nginx
    container_name: nginx
    ports:
      - "443:443"
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      - wordpress
    networks:
      - my_network
  wordpress:
    image: "wordpress"
    build: ./requirements/wordpress
    container_name: wordpress
    depends_on:
      - mariadb
    env_file:
      - .env
    ports:
      - "9000"
    volumes:
      - wordpress_data:/var/www/html
    networks:
      - my_network
  mariadb:
    image: "mariadb"
    build: ./requirements/mariadb
    container_name: mariadb
    env_file:
      - .env
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - my_network
    ports:
      - "3306"
networks:
  my_network:
    driver: bridge
volumes:
  wordpress_data:
    name: wordpress_data
    driver: local
    driver_opts:
      type: none
      device: /home/meabdelk/data/wordpress
      o: bind
  db_data:
    name: db_data
    driver: local
    driver_opts:
      type: none
      device: /home/meabdelk/data/mariadb
      o: bind
